body {
    text-align: center;
    font-family: Arial, sans-serif;
    /* background-color: #ADD8E6; */
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);    
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
    height:100v
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
        
@keyframes from-left {
    from {
        left: -150%;
    } to {
        left: 50%;
        transform: translate(-50%, 0);
    }
}

@keyframes to-right {
    from {
        left: 50%;
        transform: translate(-50%, 0);
    } to {
        left: 150%;
    }
}

#time-text {
    margin-bottom: 0;
}

#label-text {
    margin: 0;
    color: dimgray;
}

#gear-btn {
    background: transparent;
    border: none;
    position: absolute;
    top: 10px;
    left: 10px;
}

#gear-img {
    height: 40px;
}

#time-content {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: to-corner;
}

#settings-content {
    position: absolute;
    left: -150%;
    transform: translate(-50%, 0);
    animation-duration: 1s;
    animation-fill-mode: forwards;
}